.cta-container {
  color: white;
  background: #233607;
}
.cta-inner-div {
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 30px;
}
.cta-header {
  font-size: 2rem;
  margin-bottom: 19px;
  line-height: 35px;
}

.cta-mission{
  font-size: 19px;
  text-align: left;
  padding-top: 0;
  margin-top: 0;
}

.cta-btns{
  margin-top: 10px;
  padding-top: 20px;
}
.cta-btn {
  border: none;
  padding: 10px 20px;
  color: #233607;
  font-weight: 770;
  background-color: orange;
  border-radius: 10px;
  cursor: pointer;
}
.cta-sec-btn {
  border: none;
  padding: 10px 20px;
  font-weight: 770;
  color: orange;
  background-color: white;
  border: 1px solid orange;
  border-radius: 10px;
  margin-left: 20px;
  cursor: pointer;
}

.cta-content {
    display: flex;
    width: 55%;
    flex-direction: column;
    padding-bottom: 20px;
    /* font-weight: bold; */
}
@media screen and (max-width : 768px){
  .cta-inner-div{
    flex-direction: column;
    align-items: center;
    margin: 0;
    
  }
  .cta-inner-div img {
    display: none;
  }
  .cta-header{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-right: 0;
  }
  .cta-mission{
    font-size: 15px;
    text-align: left;
    margin-top: 15px;
    margin-right: 0;
    padding-right: 0;
  }
  .cta-btns{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }
  .cta-sec-btn{
    padding-left: 0;
    margin-left: 0;
  }
  .cta-header br{
    display: none;
  }
  .cta-content{
    width: 70vw;
  }
}
