.headd{
    background: #CCD9CC;
    height: 103px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.headd div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.uldesign{
    display: flex;
    align-items:center;
    justify-content: space-around;
    gap: 30px;
    list-style-type: none;
    font-size: 17px;
    font-weight: 50px;
}
.lione{
    color: #6C6C6C;
}
.buttonzero{
    background-color: #FE992D;
    color: #233607;
    font-weight: bold;
    width: 175px;
    height: 49px;
    border-radius: 4px;
    border: none;
}
.dropdown{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
}
.sectionone{
    background: linear-gradient(
        to bottom,
        #598158, #233607
    );
    height: 580px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
}
.sectionone p {
    margin: 0;
}
.divonep{
    color: #ffffff;
    font-size: 45px;
}
.divoneptwo{
    color: #ffffff;
    font-size: 55px;
    font-weight: 450px;
}
.divobuttons{
    display: flex;
    align-items:self-start;
    justify-content: start;
    gap: 50px;
    padding-top: 80px;
}
.buttonone{
    width: 120px;
    height: 49px;
    background-color: #FE992D;
    border-radius: 7px;
    border: #FE992D;
    color: #233607;
    font-weight: bold;
}
.buttontwo{
    width: 120px;
    height: 49px;
    background-color: #FFFFFF;
    border-radius: 7px;
    border: #FE992D solid 1px;
    color: #FE992D;
    font-weight: bold;
}
.sectiontwo p {
    margin-top: 0px;
}
.sectiontwo{
    background-color: #CCD9CC;
    padding-bottom: 80px;
}
.initiate{
    color: #233607;
    text-align: center;
    font-size: 50px;
    font-weight: 800px;
    padding: 30px;
}
.divtbuttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.buttonthree{
    color: #FE992D;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 2px 2px 2px #FE992D;
    border-radius: 7px;
    width: 241px;
    height: 49px;
    font-weight: bold;
}
.change{
    background-color: #FE992D;
    width: 1024px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 150px; 
    margin-top: 50px;   
    padding: 10px;
    border-radius: 7px;
    color: #FFFFFF;
}
.changetittle{
    font-size: 35px;
    font-weight: bold;
}
.changepic{
    padding-left: 30px;
}
.bakpic{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.cred{
    color: #9A0A0D;
    font-size: 35px;
    font-weight: 100px;
}
.backtext{
    font-size: 17px;
}
.goabout{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.goaboutone{
    background-color: #FFFFFF;
    width: 325px;
    height: 443.95px;
}
.gosub{
    text-align: center;
}
.goabouttittle{
    font-size: 30px;
    font-weight: bold;
}
.goabouttext{
    font-size: 18px;
}